.home-container {
  width: 100%;
  .icon{
    background: url(../../images/icon.png) no-repeat center center fixed;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
 


  
}
.home-topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  .home-topbar-left{
    margin-left: 200px;
    .icon-title{
      margin-left: 16px;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .home-topbar-right{
    margin-right: 200px;
    display: flex;
    align-items: center;
  }
 
}
