.meeting-main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 40px);

  .meeting-main-left {
    flex: 1;
    background-color: #0c0e10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .video_screen_share_preview_small {
      position: fixed;
      left: 400px;
      bottom: -15px;

      video {
        width: 140px;
        height: 110px;
      }
    }

    .video_screen_share_preview_big {
      video {
        width: 1280px;
        height: 720px;
      }
    }

    .no-video-logo {
      width: 200px;
      height: 200px;
      line-height: 200px;
      text-align: center;
      border-radius: 50%;
      font-size: 50px;
    }

    .meeting-main-talking {
      position: absolute;
      right: 6px;
      top: 20px;
      box-sizing: border-box;
      width: 160px;
      padding: 0 12px;
      border-radius: 6px;
      background-color: rgba(55, 60, 67, 0.8);
      border: 1px solid transparent;
      line-height: 1.5;
      color: rgba(248, 249, 250, 0.6);
      font-weight: 500;
      margin-right: 4px;

      .title {
        font-size: 12px;
        padding: 6px 0px;
      }

      .line {
        background: #fff;
        height: 1px;
        width: 134px;
      }

      .name {
        font-size: 10px;
        color: #fff;
        position: relative;
        top: -12px;
      }

      .no-video,
      .video {
        width: 134px;
        border-radius: 4px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .small-video-container {
        video {
          width: 134px;
          border-radius: 4px;
          height: 80px;
        }
      }

      .no-video-logo {
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        font-size: 16px;
        color: #fff;
      }

    }

    .videos_portal_styles_main {
      margin: 0px auto;
    }
  }

  .meeting-main-right {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 16px 0 0;
    background-color: #1f2329;
    color: rgba(248, 249, 250, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.16);

  }
}
