.main-container {
    width: 100vw;
    height: 100vh;
  background: url(https://sf3-cn.feishucdn.com/obj/goofy/byteview/vc/static/images/bg2x-4cab3ca628edef105e681d0891459497.jpg) no-repeat center center fixed;
}
.home-footer {
  width: 300px;
  text-align: center;
  left: 50%;
  margin-left: -150px;
  font-size: 12px;
  color: #8F959E;
  position: absolute;
  bottom: 7px;
}